* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}
 
body {

  background-image: url(./img/background.webp);
  background-repeat: repeat;
  background-size: cover; 
} 
.container {

  width: 100%;
  height: 100vh;
  display: flex;   
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;  
} 

.equation {

  background-color: rgba(0, 0, 0, 1.0);     
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(37 211 102 / 60%);
  padding: 30px 10px 15px 10px;
  border: solid 2px rgba(37,211,102,1);  
}

@media (max-width: 500px){

  .equation{

    width: 100vw;
    height: auto;
  }
}

.baskara-img {

    margin: 10px 0 0 0;
}

@media (max-width: 500px) {

  .baskara-img{

    width: 170px;
    height: auto;
  }
} 

.equation label {

  margin: 30px 0 30px 0;
  background-color: #000;
  color: rgba(37,211,102,1);
  text-transform: uppercase;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
}

#formula {
  color: rgba(37,211,102,1);
  font-family: sans-serif;
  font-weight: bolder; 
}

.container-coefficients {

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

.equation input {

  background-color: #000;
  color: rgba(37,211,102,1);
  width: 40px;
  height: 25px;
  margin: 5px;
  border-radius: 4px;
  border: solid 1px rgba(37,211,102,1);
  outline: none;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder; 
  box-shadow: 0 4px 8px 0 rgb(37 211 102 / 40%);

}

.equation input::placeholder {
  
  color: rgba(37,211,102,0.5);
  font-size: 0.9rem;   
}

#response {

  width: auto;
  margin: 20px 0 10px 0;
  background-color: #000;
  color: rgba(37,211,102,1); 
  font-family: sans-serif;
  font-weight: bolder;  
  text-align: center;
  line-height: 25px;
  letter-spacing: 1.2px;
  font-size: 0.9rem;
} 

.equation button {

  padding: 15px 10px;
  width: 50%;
  border-radius: 4px;
  border: solid 2px rgba(37,211,102,0.5);
  margin: 40px 0;
  color: rgba(37,211,102,0.5);
  background-color: #000;
  font-size: 14px;
  font-weight: bolder;
  font-family: sans-serif;
  text-transform: uppercase;
}

@media (max-width: 500px){

  .equation button {

     width: 70%; 
  }
}

.equation button:hover {

  color: rgba(37,211,102,1);
  transition: 1s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgb(37 211 102 / 40%);
  border: solid 2px rgba(37,211,102,1); 
} 
